<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'badm/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,300&family=Oswald:wght@600&display=swap" rel="stylesheet">
        <title>Категории участников</title>
    </head>
    <body>
        <div class="container">
            <div class="top">
                <div class="header">BadMINTon</div>
                <div class="topnav">
                    <div><a href="{% url 'home' %}">Домашняя страница</a></div>
                    <div><a href="{% url 'wiki' %}">wiki</a></div>
                    <div><a href="{% url 'schedule' %}">Расписание</a></div>
                    <div><a href="{% url 'categories' %}" style="background-color: rgb(0, 109, 160);">Категории участников</a></div>
                    <div><a href="{% url 'form' %}">Заявка на участие</a></div>
                </div>
            </div>

            <div class="content">
                <h1>Инфорамация о составе команд</h1>
                <h2>Разряды</h2>
                <ul>
                    <li>MS – Мужской одиночный</li>
                    <li>WS – Женский одиночный</li>
                    <li>MD – Мужской парный</li>
                    <li>WD – Женский парный</li>
                    <li>XD – Смешанный парный</li>
                    <li>Объединенные разряды
                        <ul>
                            <li>S – одиночки (MS + WS)</li>
                            <li>D – пары (MD+WD+XD или MD+XD</li>
                        </ul>
                    </li>
                </ul>
                <h2>Группы</h2>
                <p>Группы подразумевают уровень спортсменов, от начального (Группа E), до сильнейших спортсменов.</p>
                <ul>
                    <li>V – Группа Elite (Elite)</li>
                    <li>A – Группа А (Masters)</li>
                    <li>B - Группа B (Expert players)</li>
                    <li>C – Группа C (Advanced amateurs)</li>
                    <li>D – Группа D (Amateurs)</li>
                    <li>E – Группа E (Beginners)</li>
                </ul>
                <h3>Промежуточные группы:</h3>
                <p>При достаточном количестве участников, допускается создание дополнительных групп, которые обозначают
                промежуточный уровень (Группы E+, D+, C+, B+, A+).
                Например, группа D+ обозначает промежуточный уровень между Группами С и D.</p>

                <h2>Рейтинг ЛАБ (Любительская ассоциация бадминтона)</h2>
                <p>Рейтинг ЛАБ – значение рейтинга спортсмена в соответствующем разряде, опубликованное на сайте
                Badminton4u.ru. Организатор прописывает условия допуска в соответствующие дивизионы в «Положении» о
                соревновании.</p>
                <p>Допуск игрока по рейтингу ЛАБ рекомендуется осуществлять на момент подачи заявки на турнир.</p>
                <h3>Параметры рейтинга ЛАБ. Типы турниров с допуском по рейтингу ЛАБ</h3>
                <p>Допуск на турниры и деление на группы по рейтингу ЛАБ может производиться согласно следующим двум
                параметрам.</p>
                <ol>
                <li>Max – максимальный рейтинг игрока (или каждого из игроков пары)</li>
                <li>Avg – средний рейтинг игроков и D (Дельта) – размер допустимого отклонения от среднего рейтинга (для
                проведения соревнований среди пар по среднему рейтингу)</li>
                </ol>
                <p>Соответственно, соревнования с допуском по рейтингу ЛАБ делятся на два типа:</p>
                <ul>
                <li>соревнования с допуском по максимальному рейтингу (ЛАБ Max)</li>
                <li>соревнования с допуском по среднему рейтингу пары, (ЛАБ Avg)</li>
                </ul>
                <h2>Возраст</h2>
                <p>Турниры с ограничением по возрасту проводятся для игроков ветеранского возраста, и детей.
                Как правило, в случае проведения турнира с возрастными ограничениями, деление на группы (п 4.2) не
                проводится и рейтинг ЛАБ (п. 4.3) не учитывается.</p>
                <h3>Основные возрастные группы.</h3>
                <dl>
                    <dt>Дети, юноши, юниоры, молодежь:</dt>
                    <dd>U11 – до 11 лет,</dd>
                    <dd>U13 – до 13 лет,</dd>
                    <dd>U15 – до 15 лет,</dd>
                    <dd>U17- до 17 лет,</dd>
                    <dd>U19 – до 19 лет,</dd>
                    <dd>U21 – до 21 года.</dd>
                    <dt>Ветеранские группы:</dt>
                    <dd>35+ - 35 лет и старше,</dd>
                    <dd>40+ - 40 лет и старше,</dd>
                    <dd>45+ - 45 лет и старше,</dd>
                    <dd>50+ - 50 лет и старше,</dd>
                    <dd>55+ - 55 лет и старше,</dd>
                    <dd>60+ - 60 лет и старше,</dd>
                    <dd>65+ - 65 лет и старше,</dd>
                    <dd>70+ - 70 лет и старше,</dd>
                    <dd>75+ - 75 лет и старше.</dd> 
                </dl>
            </div>
        </div>
    </body>
</html>