<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'badm/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,300&family=Oswald:wght@600&display=swap" rel="stylesheet">
        <title>wiki</title>
    </head>
    <body>
        <div class="container">
            <div class="top">
                <div class="header">BadMINTon</div>
                <div class="topnav">
                    <div><a href="{% url 'home' %}">Домашняя страница</a></div>
                    <div><a href="{% url 'wiki' %}" style="background-color: rgb(0, 109, 160);">wiki</a></div>
                    <div><a href="{% url 'schedule' %}">Расписание</a></div>
                    <div><a href="{% url 'categories' %}">Категории участников</a></div>
                    <div><a href="{% url 'form' %}">Заявка на участие</a></div>
                </div>
            </div>

            <div class="aside">
                <div><a href="#s1">Определение</a></div>
                <div><a href="#s3">Инветнарь</a></div>
                <div><a href="#s4">Игровая<br>площадка</a></div>
                <div><a href="#s5">Игра</a></div>
            </div>

            <div class="content">
                <div class="article">
                    <div class="section">
                        <h1 id="s1">Определение</h1>
                        <p>Бадминтон (англ. badminton, от собств. Badminton) — вид спорта, в котором игроки располагаются на противоположных сторонах 
                            разделённой сеткой площадки и перекидывают волан через сетку ударами ракеток, стремясь «приземлить» волан на стороне 
                            противника и, наоборот, чтобы он не упал на собственное поле. Соперничают два игрока или две пары игроков (пары могут 
                            быть не только одного пола, но и смешанные — мужчина и женщина). Входит в программу летних Олимпийских игр с 1992 года.</p>           
                    </div>
                    <div class="section">
                    <h1 id="s2">История</h1>
                    <p>В XIX веке английские офицеры, служившие в Индии, увлеклись старинной индийской игрой пуна, которую можно считать прототипом 
                        современного бадминтона. Англичане привезли с собой увлечение игрой на родину.
                        Современная традиция игры берёт начало в Англии, в старинной усадьбе Бадминтон-хаус, владелец которой, известный спортивный 
                        энтузиаст и издатель серии книг о видах спорта, Чарльз Сомерсет, 8-й герцог Бофорт, соорудил в 1873 году первую площадку для 
                        игры в бадминтон. В 1893 году ассоциация бадминтона Англии опубликовала первый регламент официальных правил игры[1].    
                        Всемирная федерация бадминтона (англ. Badminton World Federation (BWF)) была создана в 1934 году. С 1947 года проводится 
                        крупнейшее командное соревнование среди мужчин — Кубок Томаса. Среди женщин главный командный старт — Кубок Убер проводится 
                        с 1955 года.</p>           
                    </div>
                    <div class="section">
                        <h1 id="s3">Инвентарь</h1>
                        <h2>Ракетка</h2>
                        <p>Рамка ракетки не должна превышать 680 мм в длину и 230 мм в ширину[2] Первоначально ракетки изготавливались из дерева. 
                            Современные ракетки изготавливаются из различных материалов: от углепластика до алюминия, стали и титана. Благодаря им 
                            снаряд выдерживает натяжение струн и нагрузку ударов. Ракетки для профессиональных игроков, как правило, выполняются из 
                            композиционных материалов на основе углеволокна и с применением встроенных конструктивных элементов из других материалов. 
                            Ракетки для любителей и новичков часто можно отличить по наличию «тройника» — визуально заметного Т-образного узла в месте 
                            соединения стержня и рамки обода. В среднем масса ракетки составляет 70-100 граммов. К основным физическим характеристикам
                            ракеток, влияющих на их игровые свойства, наряду с массой относятся также расположение центра тяжести 
                            (так называемый «баланс»), жёсткость стержня и обода на изгиб, жёсткость стержня на кручение. Нередко в зависимости от 
                            этих характеристик одни ракетки чаще рекомендуют игрокам с атакующей и силовой манерой игры, тогда как другие — игрокам, 
                            скорее тяготеющим к оборонительным тактическим схемам. В модельных рядах ракеток, предназначенных для профессиональных 
                            спортсменов, внутри одной модели возможны вариации исполнения с различающейся на несколько граммов массой и с различной 
                            толщиной рукоятки. Большинство профессиональных игроков используют специальные намотки на рукоятку ракетки — так называемый 
                            «грип», предназначенный для обеспечения наилучшего контроля над хватом ракетки.</p>  
                        <h2>Струны и натяжка</h2>
                        <p>Первоначально струны изготавливались из натуральных материалов, сейчас они практически всегда синтетические. В спортивном 
                            бадминтоне применяются струны, представляющие собой переплетение синтетических микроволокон и состоящие из сердечника, 
                            оплётки и оболочки. Для любительских ракеток струны натягиваются с силой 80-110 Н. У профессиональных игроков сила 
                            натяжения струн может доходить до 160 Н. Диаметр струн находится в интервале от 0,6 до 0,8 мм, на натяжку одной ракетки 
                            требуется около 10 метров струны. Процесс натяжки ракеток состоит из двух этапов: сначала струны пропускаются через 
                            отверстия в ободе и переплетаются друг с другом, затем последовательно натягиваются. Качественная натяжка, существенно 
                            влияющая на игровые свойства ракетки, возможна только на специальном станке, обеспечивающем жёсткое закрепление обода 
                            ракетки в нескольких точках, точно дозированное усилие натяжения и последовательную фиксацию уже натянутых струн 
                            специальными зажимами.</p>
                        <h2>Волан</h2>
                        <p>Существует два типа воланов: пластиковые и перьевые (натуральные). Пластиковые воланы рекомендуют для любителей и для 
                            некоторых видов тренировки, где актуально основное достоинство пластиковых воланов — долговечность. Полётные характеристики 
                            пластиковых воланов отличаются от характеристик перьевых воланов. Стандартом для соревнований и тренировок профессиональных 
                            спортсменов, как правило, являются перьевые воланы; зачастую в регламенте спортивных соревнований устанавливается 
                            конкретная марка / серия перьевого волана.

                            Пластиковый волан состоит из головки (пробковой или синтетической) и прикреплённой к ней пластиковой «юбки». Перьевой 
                            волан изготавливается из 16 гусиных перьев и пробковой головки, обтянутой тонкой лайковой кожей. Перья вклеиваются в 
                            отверстия по окружности головки, обвязываются нитками, нитки также проклеиваются. Масса волана должна составлять 4.74-5.5 г[3].
                            
                            На производстве воланы сортируются и градуируются по скорости и траектории полёта, различные группы по результатам 
                            сортировки получают различные обозначения, которые могут наноситься как на упаковку воланов (тубус из 3-6-12 штук), 
                            так и на сам волан (например, воланы могут маркироваться наклейками на внутренней части головки или цветной полоской 
                            по ободку головки там, где она соединяется с перьями или пластиковой юбкой).
                            
                            За один матч профессиональных игроков может быть использовано несколько перьевых воланов: от 2-3 до дюжин и более 
                            на встречах спортсменов экстра-класса. Сильнее всего воланы страдают от удара по ним ободом ракетки (такие удары 
                            практически всегда являются следствием ошибок в технике и свойственны начинающим спортсменам). Однако и при безупречной 
                            технике сила ударов и нагрузки на волан таковы, что довольно быстро могут вызвать «разбалтывание» места соединения 
                            перьев с головкой или поломку отдельных перьев, что сразу сказывается на траектории полёта.</p>         
                    </div>
                    <div class="section">
                        <h1 id="s4">Игровая площадка</h1>
                        <!-- <a href="./picture.html" target="_blank"><img class="article_img" src="../img/badmField.png"></a> -->
                        <img class="article_img" src="{% static 'badm/img/badmField.png' %}">
                        <p>Игра проходит на прямоугольной площадке размером 13,4 на 5,18 метров. Для парной игры используется площадка 
                            размером 13,4 (при подаче — 11,88) на 6,10 метров. Высота сетки 1,55 метра у опор, 1,524 метра по центру 
                            (провисание); Сетка ограничена сверху лентой шириной в 7,5-8 см, сложенной вдвое, под которой пропускается шнур. 
                            Линии шириной 4 см, наносятся на поле яркой (белой или жёлтой) краской и являются неотъемлемой частью того поля, 
                            которое они ограничивают (но, например, подавать, находясь на линии запрещено). На расстоянии 1,98 метра от сетки 
                            находится линия подачи. Между линией подачи и задней линией находится зона подачи. Центральная линия разделяет зону 
                            подачи на правую и левую зоны.</p>           
                    </div>
                    <div class="section">
                        <h1 id="s5">Игра</h1>
                        <p>Подача производится из правой (чётной) или левой (нечётной) зоны подачи в зависимости от счёта. По современным 
                            правилам (введены в 2006 году для повышения зрелищности матчей) очки начисляются в каждом розыгрыше независимо 
                            от принадлежности подачи, игра ведётся до 21 очка; при счёте 20:20 игра продолжается до превосходства одной из 
                            сторон в 2 очка либо до 30 (сторона, первой набравшая 30 очков, выигрывает). В парной встрече у каждой команды 
                            по одной подаче, в отличие от старых правил.

                            В парной игре правила несколько сложнее. Принимать должен исключительно спортсмен, стоящий по диагонали от подающего, 
                            но после его удара (приёма подачи) уже нет строгой очерёдности — бить по волану может любой игрок команды, тот, 
                            которому удобней; если подающая команда выиграла очко, продолжает подавать тот же игрок, но уже из другой зоны 
                            подачи, а расстановка игроков принимающей команды не меняется до тех пор, пока они не выиграют очко на своей подаче.</p> 
                            <p><b>Игрок считается победителем отдельного розыгрыша в следующих случаях:</b></p> 
                            <ol style="font-family: 'IBM Plex Sans';">
                                <li>Волан коснулся площадки (поля) соперника.</li>
                                <li>Соперник послал волан за пределы игрового поля, коснулся волана телом или одеждой.</li>
                                <li>После удара соперника волан коснулся потолка или других предметов, находящихся поблизости от площадки.</li>
                                <li>Соперник во время розыгрыша коснулся сетки телом или ракеткой, перенёс ракетку или часть тела на сторону 
                                    противника (однако, фол не будет засчитан, если первоначальный контакт ракетки с воланом был на стороне 
                                    бьющего и ракетка была перенесена на чужую сторону по инерции).</li>
                                <li>Соперник не смог совершить подачу по правилам (подавать надо в расположенное по диагонали поле; нельзя 
                                    наступать на линии, ограничивающие поле подачи; нельзя двигаться и отрывать ноги от земли; в момент удара 
                                    при подаче волан должен находиться ниже уровня талии, а стержень ракетки должен быть направлен вниз; если 
                                    подающий не попал по волану — это тоже фол).</li>
                            </ol>         
                    </div>
                    <p><a href="https://ru.wikipedia.org/wiki/%D0%91%D0%B0%D0%B4%D0%BC%D0%B8%D0%BD%D1%82%D0%BE%D0%BD" target="_blank">Узнать больше</a></p>
                </div>
            </div>
    </body>
</html>